<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- Include Header -->

  <%- include('partials/header') %>


    <h1> About page</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quam eligendi temporibus harum amet odit quibusdam, culpa praesentium nam deleniti eius consequatur, consectetur quas enim sunt obcaecati corporis, modi quasi?
    Nemo modi ex repellendus. Sed est aut labore fuga quas explicabo quo illum dolor, debitis at ipsa facere dolorem optio atque porro quis accusantium fugit ex rem odio temporibus quidem?
    Harum at dolor ducimus quo excepturi velit neque provident, mollitia ut dolorem. Explicabo voluptatibus in rerum totam velit illum ratione illo reprehenderit, veritatis sequi id eligendi vitae perspiciatis ex quia.
    Excepturi error voluptas, animi fugit cum provident ab eveniet, amet dolor vel itaque? Voluptatibus ab natus beatae reprehenderit ratione, rerum dicta suscipit eum, eos odit consequuntur inventore quo quos maxime!</p>


<!-- Include Footer -->
  <%- include('partials/footer') %>


</body>
</html>